@{
    ViewBag.Title = "Kontakt";
    Layout = "_Layout";
}

<div id="mainSection" style="display: flex; flex-direction: column;align-items: center; justify-content: center; ">
    <h1>Lokalizacja:</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.979710484781!2d19.94039757974952!3d50.06794162176085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b053d076b5d%3A0x3c2561cb07bc3dd2!2sWy%C5%BCsza%20Szko%C5%82a%20Ekonomii%20i%20Informatyki%20w%20Krakowie!5e0!3m2!1spl!2spl!4v1672491722956!5m2!1spl!2spl" style="border:2px solid white; width: 50vw; height: 50vh;" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h1>Social media:</h1>
    <div style="display: flex; align-items: center; justify-content: space-evenly; width: 50vw; margin-top: 5vh; ">
        <a href="https://www.facebook.com/" target="_blank" style="color: #4267B2;"><i class="fab fa-facebook-f fa-7x"></i></a>
        <a href="https://twitter.com/" target="_blank" style="color: #1DA1F2;"><i class="fa-brands fa-twitter fa-7x"></i></a>
        <a href="https://linkedin.com/" target="_blank" style="color: #0e76a8;"><i class="fa-brands fa-linkedin fa-7x"></i></a>
    </div>
</div>