@model PriceList

@{
      Layout = "_Layout";
}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="PriceListId" />

    <label asp-for="Price"></label>
    <input asp-for="Price" />

    <label asp-for="BasePrice"></label>
    <input asp-for="BasePrice" />

    <label asp-for="CarType"></label>
    <input asp-for="CarType" />
    <button type="submit">Zapisz</button>
    <a asp-action="PriceList">Anuluj</a>
</form>