@{
    ViewBag.Title="Home";
    Layout = "_NotLoggedInLayout";
}

<div id="mainSection" style="display: flex; justify-content: center;">
        <div style="width: 50vw; padding: 5vw;">        
            <h1>Car Rental</h1>
            <p>Posiadamy samochód na każdą okazję. Przejdź do zakładki "Flota" i wybierz coś dla siebie.</p>
            <p style="text-justify: justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione enim unde quam voluptatem consequatur ex, tempore, commodi ipsam, iusto impedit labore! Id esse pariatur blanditiis rem? Corporis ipsam perferendis ex? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias accusamus ad placeat quo velit, et nemo nobis natus ullam repudiandae eum inventore quia libero adipisci ipsa exercitationem? Rerum, consequuntur cupiditate Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore veniam eum dolores nemo dignissimos nihil quaerat autem distinctio pariatur maiores iusto reprehenderit rerum, id atque veritatis, ipsam porro placeat a?</p>
            
        </div>
        <img style="width: 30vw" src="~/img/driver.png" alt="Happy man sitting in driver's seat holding up car key">
    </div>