@{
    ViewBag.Title="Home";
    Layout = "_Layout";
}

   
            <h1>Car Rental</h1>
            <p>Posiadamy samochód na każdą okazję. Przejdź do zakładki "Flota" i wybierz coś dla siebie.</p>
            <p style="text-justify: justify">
            Strona internetowa "Car rental" to miejsce, gdzie możesz wynająć samochód na okres wskazany przez Ciebie. 
            Nasza oferta obejmuje szeroki wybór samochodów osobowych. 
            Dzięki naszemu prostemu systemowi rezerwacji online, możesz szybko i łatwo zarezerwować samochód, który najlepiej spełni Twoje potrzeby.
            Nasze ceny są konkurencyjne, a wszystkie nasze samochody są regularnie serwisowane i sprawne technicznie. 
            Niezależnie od tego, czy potrzebujesz samochodu na weekend, na wakacje, czy na dłuższy okres, "Car rental" jest miejscem, 
            w którym znajdziesz odpowiedni dla siebie pojazd.
               </p>
            
        <img style="width: 20vw" src="~/img/driver.png" alt="Happy man sitting in driver's seat holding up car key">
