

body {
    background-color: #9EE37D;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
}
nav{
    background-color: #63C132;
    height: 10vh;
    width: 100vw;
    margin: 0;
    padding: 2vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}
#logo{
    display: flex;
    width: 13vw;
    justify-content: center;
    align-items: center;
}
#logo img{
    height: 9vh;
}


#navList{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#navList li a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
    background-color: #358600;
    padding: 2vh 4vw;
    transition: border 0.1s linear;
    border-bottom: 0 solid white;
    display: block;
    margin:0 0.5vw;
    border-radius: 3px;
}

#navList li a:hover{
    border-bottom: 0.5vh solid white;
    background-color: #4ab503;
    transition: border 0.1s linear;
}

#login img{
    width: 6vw;
    margin-bottom: 0;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20vw;
    padding-right: 2vw;
}

#login a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
}

#navAdmin{
    background-color: #358600;
    list-style-type: none;
    display: none;
    /* display: flex; */
    position: absolute;
    margin: 0 0.5vw;
    text-align: center;
    flex-direction: column;
    padding: 0;
}
#navAdmin li a{
    text-decoration: none;
    color: white;
}
#navAdmin li{
    width: 13vw;
    border-top: 1px solid white;
    padding: 0.5vh 0;
}

#adminButton, #mechanicButton{
    color: white;
    font-size: 2vh;
    background-color: #358600;
    width: 13vw;
    padding: 2vh 0;
    text-align: center;
    transition: border 0.1s linear;
    border-bottom: 0 solid white;
    display: block;
    margin:0 0.5vw;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

#mechanicButton:hover{
    border-bottom: 0.5vh solid white;
    background-color: #4ab503;
    transition: border 0.1s linear;
}

#menu a{
    text-decoration: none;
}

#menu:hover #navAdmin{
    display: flex;
}

#mainSection{
    padding: 5vh 5vw 15vh 5vw;
    text-align: justify;
    box-sizing: border-box;
}


footer{
    width: 100vw;
    padding: 5vh 0;
    background-color: #358600;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
}