html{
    scroll-behavior: smooth;
}

body {
    background-image: url(/img/bg_6v2.png);
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

nav{
    width: 98vw;
    height: 5vh;
    padding: 1vh 1vw;
    box-sizing: border-box;
    margin: 0;
}

nav ul{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 1.3vw;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    height: 5vh;
    margin: 0;
    float: right;
}
nav ul li{
    color: white;
    transition-duration: 0.4s;
    transition-property: color;
}
nav ul li:hover{
    color: rgb(255, 208, 0);
    transition-duration: 0.4s;
    transition-property: color;
}
nav ul li a:hover{
    color: rgb(255, 208, 0);
    transition-duration: 0.4s;
    transition-property: color;

}
nav ul li a {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
    transition-property: color;
}
#adminOptions ul{
    display: none;
    height: auto;
    position: absolute;
    /*top: 200%;*/
    z-index: 1;
    flex-direction: column;
    list-style-type: none;
    /*margin-top: 3vw;*/
    max-width: 14vw;
    /*padding: 10px;*/
    padding: 0;   
}
    #adminOptions ul li a {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

#accountOptions ul {
    display: none;
    position: absolute;
    height: auto;
    flex-direction: column;
    list-style-type: none;
/*    margin-top: 2vw;
    margin-left: -3vw;*/
    max-width: 13vw;
    justify-content: center;
    padding: 0;
}

#adminOptions:hover ul{
    display: flex;
}

#accountOptions:hover ul {
    display: flex;
}

footer{
    float: right;
    box-sizing: border-box;
    position: fixed;
    bottom: 2.5vw;
    right: 2.5vw;
    color: white;
    text-decoration: none;
}

footer a{
    color: white;
    transition-duration: 0.4s;
}

footer a:hover{
    color: rgb(255, 208, 0);
}

#content {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.3);
    margin-top: 13vh;
    margin-bottom: 20vh;
    color: white;
    padding: 5vh 5vw;
    box-sizing: border-box;
    text-align: center
}

#logoutButton {
    outline: none; 
    border: none; 
    background-color: rgba(0,0,0,0); 
    color: white;
}
#logoutButton:hover {
    color: rgb(255, 208, 0) !important;
}
