@using CarRental.Models.ViewModels
@model RegisterViewModel
@{
    ViewBag.Title = "Dodawanie użytkownika";
    Layout = "_Layout";
}


@*<h1 class="text-info">Register</h1>*@
<form asp-controller="Admin" asp-action="UserRegister" method="post" role="form">
    <h2>Dodaj użytkownika</h2>
    <hr />

    <div class="row justify-content-md-center">
        <label asp-for="Email" class="col-md-2"><h5>Adres email:</h5></label>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <input asp-for="Email" class="form-control mb-3" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <label asp-for="Login" class="col-md-2"><h5>Login:</h5></label>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <input asp-for="Login" class="form-control mb-3" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <label asp-for="Name" class="col-md-2"><h5>Imię: </h5></label>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <input asp-for="Name" class="form-control mb-3" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <label asp-for="LastName" class="col-md-2"><h5>Nazwisko:</h5></label>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <input asp-for="LastName" class="form-control mb-3" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <label asp-for="Password" class="col-md-2"><h5>Hasło:</h5></label>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <input asp-for="Password" class="form-control mb-3" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <label asp-for="ConfirmPassword" class="col-md-2"><h5>Potwierdź hasło:</h5></label>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <input asp-for="ConfirmPassword" class="form-control mb-3" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row justify-content-md-center">
        <div class="offset-md-2 col-md-3">
            <button type="submit" class="btn btn-success h-100 w-75">Dodaj</button>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="offset-md-2 col-md-3">
            <a asp-action="Users" asp-controller="Admin">
             <button type="button" class="btn btn-danger h-100 w-75 mt-3">Anuluj</button>
            </a>
        </div>
    </div>
</form>