@model IEnumerable<Review>

@{
    ViewBag.Title = "Opinie";
    Layout = "_NotLoggedInLayout";
}
<div id="mainSection">
Średnia ocena: @Model.Average(o=>o.Rating)
Marka: @Model.FirstOrDefault().Car.Brand
@foreach (var review in Model)
{
    <p>@review.CarId</p>
    <p>@review.Description</p>     
}
</div>