@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/style.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav id="nav">
        <ul>
            <li>
                @if(ViewBag.Title=="Home"){
                <a style="color: rgb(255, 208, 0);" asp-controller="Home" asp-action="Index">Home</a>
                }else{
                <a asp-controller="Home" asp-action="Index">Home</a>
                }
            </li>
            <li>
                @if(ViewBag.Title=="Cennik"){
                <a style="color: rgb(255, 208, 0);" asp-controller="Home" asp-action="PriceList">Cennik</a>
                }else{
                <a asp-controller="Home" asp-action="PriceList">Cennik</a>
                }
             </li>
            <li>
                @if(ViewBag.Title=="Flota"){
                <a style="color: rgb(255, 208, 0);" asp-controller="Car" asp-action="Index">Flota</a>
                }else{
                <a asp-controller="Car" asp-action="Index">Flota</a>
                }
             </li>
            <li>
                @if(ViewBag.Title=="Kontakt"){
                <a style="color: rgb(255, 208, 0);" asp-controller="Home" asp-action="Contact">Kontakt</a>
                }else{
                <a asp-controller="Home" asp-action="Contact">Kontakt</a>
                }
            </li>
            @if(User.IsInRole("admin"))
                {
                    <li id="adminOptions">
                        Administracja               
                        <ul>
                            <li>
                                <a href="#">opcja 1</a>
                            </li>
                            <li>opcja 2</li>
                            <li>opcja 3</li>
                            <li>opcja 4</li>
                        </ul>
                    </li>
                }
            @if(User.IsInRole("mechanik"))
            {
                <li>Usterki</li>
            }
            @if (SignInManager.IsSignedIn(User))
            {
                <li>Konto</li>
                <li>
                    <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="Logout">
                        <button id="logoutButton" type="submit">Wyloguj</button>
                    </form>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="Account" asp-action="Login" >Zaloguj</a>
                </li>
            }
            
        </ul>
    </nav>
    <div id="content">
        @RenderBody()
    </div>
    <footer>
    <a href="#nav">
        <i class="fa-solid fa-arrow-up fa-3x"></i>
    </a>
    </footer>
</body>
</html>