<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewBag.Title</title>
</head>

<body>
    <nav>
        <div id="logo">
            <img src="~/img/logo.png">
        </div>
        <ul id="navList">
            <li>
                @if(ViewBag.Title=="Home"){
                <a style="border-bottom: 0.5vh solid white !important; background-color: #4ab503 !important;" asp-controller="Home" asp-action="Index">Home</a>
                }else{
                <a asp-controller="Home" asp-action="Index">Home</a>
                }
            </li>
            <li>
                @if(ViewBag.Title=="Cennik"){
                <a style="border-bottom: 0.5vh solid white !important; background-color: #4ab503 !important;" asp-controller="Home" asp-action="PriceList">Cennik</a>
                }else{
                <a asp-controller="Home" asp-action="PriceList">Cennik</a>
                }
            </li>
            <li>
                <a  href="#">Flota</a>
            </li>
            <li>
                <a href="#">Zamów</a>
            </li>
            
            <li>
                @if (ViewBag.Title == "Kontakt")
                {
                    <a style="border-bottom: 0.5vh solid white !important; background-color: #4ab503 !important;" asp-controller="Home" asp-action="Contact">Kontakt</a>
                }else{
                    <a asp-controller="Home" asp-action="Contact">Kontakt</a>
                }
            </li>
        </ul>
        <div id="login">
            <a href="#">Logowanie</a>
        </div>
    </nav>
    <div>@RenderBody()</div>
    <footer>&copy; Mateusz Magiera</footer>
</body>

</html>