@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/style.css">
    <title>@ViewBag.Title</title>
</head>

<body>
    <nav>
        <div id="logo">
            <img src="~/img/logo.png">
        </div>
        <ul id="navList">
            <li>
                @if(ViewBag.Title=="Home"){
                <a style="border-bottom: 0.5vh solid white !important; background-color: #4ab503 !important;" asp-controller="Home" asp-action="Index">Home</a>
                }else{
                <a asp-controller="Home" asp-action="Index">Home</a>
                }
            </li>
            <li>
                @if(ViewBag.Title=="Cennik"){
                <a style="border-bottom: 0.5vh solid white !important; background-color: #4ab503 !important;" asp-controller="Home" asp-action="PriceList">Cennik</a>
                }else{
                <a asp-controller="Home" asp-action="PriceList">Cennik</a>
                }
            </li>
            <li>
                @if (ViewBag.Title == "Flota")
                {
                    <a style="border-bottom: 0.5vh solid white !important; background-color: #4ab503 !important;" asp-controller="Home" asp-action="PriceList">Flota</a>
                }
                else
                {
                    <a asp-controller="Car" asp-action="Index">Flota</a>
                }
            </li>

            
            <li>
                @if (ViewBag.Title == "Kontakt")
                {
                    <a style="border-bottom: 0.5vh solid white !important; background-color: #4ab503 !important;" asp-controller="Home" asp-action="Contact">Kontakt</a>
                }else{
                    <a asp-controller="Home" asp-action="Contact">Kontakt</a>
                }
            </li>
            @if (User.IsInRole("mechanik"))
            {
            <li>
                <a asp-controller="Car" asp-action="BrokenCars">Usterki</a>
            </li>
            }
        </ul>
        @if(User.IsInRole("admin"))
        {
        <div id="menu">
            <div id="adminButton">Administracja</div>
            <ul id="navAdmin">
                <li>
                    <a href="#">Użytkownicy</a>
                </li>
                <li>
                    <a href="#">Samochody</a>
                </li>
                <li>
                    <a href="#">Historia zamówień</a>
                </li>
                <li>
                    <a href="#">Usterki</a>
                </li>
            </ul>
        </div>
        }
        <div id="login">
            @if (SignInManager.IsSignedIn(User))
            {
            //<a asp-controller="Account" asp-action="Logout">Wyloguj</a>         
            <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit">Wyloguj</button>
            </form>
            }else{
            <a asp-controller="Account" asp-action="Login" >Logowanie</a>
            <a asp-controller="Account" asp-action="Register">Zarejestruj się</a>
            }
        </div>
    </nav>
    <div>@RenderBody()</div>
    <footer>&copy; Mateusz Magiera</footer>
</body>

</html>